/* CSS Document */
@charset "utf-8";
/*公共属性定义*/
body, dl, dt, dd, ol, ul, li, pre, form, field, input,th, td, h1, h2, h3, h4, h5, h6{font-family: "宋体",Arial, Helvetica, sans-serif;margin: 0;padding: 0;color: #333;font-size: 12px;}
body{background-color: #EEE;}
*{padding: 0px;margin: 0px;}
table{margin: 0px;padding: 0px;}
img{border: 0;}
ul, ol{list-style: none;clear: both;}
input, textarea, select, button, file{font-size: 12px;}
a{text-decoration: none;color: #333333;}
a: hover{color: #ff0000;text-decoration: none;}
.FL{float: left;overflow: hidden;}
.FR{float: right;overflow: hidden;}
/*标题*/
.titles{height: 25px;background-color: #FEF6E9;padding-right: 5px;margin: 0px;padding-top: 0px;}
.titles span{padding-right: 7px;font-size: 13px;font-weight: bold;float: left;color: #FF6600;padding-top: 7px;padding-left: 7px;background-color: #FFFFFF;}
.titles p{padding-left: 5px;color: #FF6600;border-bottom-width: 1px;border-left-width: 1px;border-bottom-style: solid;border-left-style: solid;border-bottom-color: #E4D0B6;border-left-color: #E4D0B6;text-align: right;height: 15px;padding-top: 9px;padding-right: 5px;margin: 0px;}
.header{height: 90px;width: 960px;margin-right: auto;margin-left: auto;background-color: #ffffff;clear: both;margin-bottom: 1px;}
.zzcms,.main{height: auto;width: 960px;margin-right: auto;margin-left: auto;background-color: #ffffff;clear: both;margin-bottom: 1px;}
.zzcms_about{margin-top: 5px;width: 633px;border: 1px solid #CCCCCC;padding: 10px;height: auto;line-height: 20px;}
.zzcms_content{margin-top: 5px;width: 633px;border: 1px solid #CCCCCC;padding: 10px;height: auto;line-height: 20px;}
.p_right{float: right;margin-right: 10px;}
/*标题*/
.headline{height: 68px;border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #999999;overflow: hidden;margin-top: 5px;margin-right: 10px;margin-bottom: 5px;margin-left: 10px;}
.headline h1{font-size: 15px;font-weight: bold;text-align: center;margin-top: 5px;line-height: 20px;}
.headline p{line-height: 20px;padding-right: 5px;padding-bottom: 5px;padding-left: 5px;padding-top: 0px;margin: 1px;}
.logo{float: left;height: 80px;width: 200px;}
.header_ad{height: auto;width: 760px;overflow: hidden;float: right;text-align: right;}
/*菜单*/
.menu{width:960px;margin-top: 5;margin-right: auto;margin-bottom: 2px;margin-left: auto;height: 34px;margin-bottom: 5px;clear: both;}
.menu ul{background:url("../images/menu_sprites.png") repeat-x 0 -102px; height:34px;}
.menu li{text-align: center;float: left;height: 24px;width: 100px;padding-top: 10px;}
.menu li a{text-decoration:none;font-size: 14px;color: #FFF;text-align: center;}
/*网站首页*/
.zzcms_L{float: left;height: auto;width: 710px;overflow: hidden;}
.zzcms_R{float: right;height: auto;width: 250px;overflow: hidden;}
.zzcms_hdp{float: left;height: 275px;width: 300px;}
.zzcms_news{float: left;height: 273px;width: 398px;margin-right: 5px;margin-left: 5px;border: 1px solid #E4D0B6;overflow: hidden;}
.zzcms_news ul,.zzcms_down ul,.zzcms_pic ul{margin-left: 5px;line-height: 20px;margin-top: 10px;margin-right: 5px;}
.zzcms_down{float: left;height: auto;width: 298px;margin-top: 5px;border: 1px solid #E4D0B6;clear: left;}
.zzcms_pic{height: auto;width: 398px;margin-right: 5px;margin-left: 5px;margin-top: 5px;float: right;border: 1px solid #E4D0B6;}
.zzcms_pic li span{float: left;height: auto;width: 124px;margin-left: 5px;overflow: hidden;text-align: center;}
.zzcms_pic img{height: 80px;width: 119px;}
.zzcms_pic h5{height: 20px;width: 124px;overflow: hidden;}
.zzcms_pic a img{padding:1px;border:1px solid #f0d500;}
.zzcms_pic a:hover img{border-color:#c1002f;}
.news_top{height: 273px;width: 248px;border: 1px solid #E4D0B6;}
.hit_top{height: auto;width: 248px;margin-top: 5px;border: 1px solid #E4D0B6;}
.news_top ul,.hit_top ul{margin-left: 5px;line-height: 20px;margin-top: 10px;margin-right: 5px;}
/*频道页*/
.path{height:17px;border:1px solid #E4D0B6;background-color: #FEF6E9;padding-top: 7px;padding-left: 5px;}
.path a{background-image: url(images/bg_position.gif);background-repeat: no-repeat;background-position: left top;padding-left: 13px;margin-left: 5px;}
.main_L{float: left;height: auto;width: 300px;overflow: hidden;}
.main_R{float: right;height: auto;width: 655px;overflow: hidden;}
.mylist{line-height: 25px;margin: 10px;}
.mylist li{border-bottom-width: 1px;border-bottom-style: dashed;border-bottom-color: #CCC;clear: both;}
.mylist span{float: left;padding-left: 7px;text-align: left;}
.mylist p{text-align: right;margin: 0px;float: right;}
.mypiclist{line-height: 25px;margin: 10px;}
.mypiclist li span{float: left;height: auto;width: 120px;margin-left: 5px;overflow: hidden;text-align: center;margin-bottom: 5px;}
.mypiclist img{height: 80px;width: 116px;}
.mypiclist h5{height: 20px;width: 120px;overflow: hidden;}
.mypiclist a img{padding:1px;border:1px solid #f0d500;}
.mypiclist a:hover img{border-color:#c1002f;}
.main_new{height: auto;width: 298px;border: 1px solid #E4D0B6;}
.main_hit{height: auto;width: 298px;border: 1px solid #E4D0B6;margin-top: 5px;}
.main_new ul,.main_hit ul{margin-left: 5px;line-height: 20px;margin-top: 10px;margin-right: 5px;}
.main_pic li{float: left;height: auto;width: 150px;margin-left: 10px;overflow: hidden;text-align: center;margin-top: 10px;}
.main_pic img{height: 115px;width: 146px;}
.main_pic h5{height: 20px;width: 123px;overflow: hidden;}
.main_pic a img{padding:1px;border:1px solid #f0d500;}
.main_pic a:hover img{border-color:#c1002f;}
.list_pic li{float: left;height: auto;width: 124px;margin-left: 10px;overflow: hidden;text-align: center;margin-top: 10px;}
.list_pic img{height: 80px;width: 120px;}
.list_pic h5{height: 20px;width: 123px;overflow: hidden;}
.list_pic a img{padding:1px;border:1px solid #f0d500;}
.list_pic a:hover img{border-color:#c1002f;}
/*文章内容页样式开始*/
.s_title{text-align: center;height: 20px;}
.s_right{float: right;margin-right: 10px;}
.s_content{margin-top: 20px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;}
/*图片内容页样式开始*/
.p_title{text-align: center;height: 20px;}
.p_right{float: right;margin-right: 10px;}
.p_content{margin-top: 20px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;}
/*留言本*/
.b_book{text-align: left;padding: 10px;width: 95%;border: 1px solid #CCC;margin-bottom: 5px;margin-top: 5px;}
.b_title{text-align: left;width: 100%;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #CCC;padding-left: 10px;padding-top: 2px;padding-bottom: 2px;}
.b_center{text-align: center;width: 100%;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #CCC;padding: 2px;}
.b_center ul{width: 100%;float: left;}
.b_center li{text-align: center;float: left;width: auto;padding-top: 2px;padding-right: 10px;padding-bottom: 2px;padding-left: 10px;}
.b_content{padding: 10px;}
.b_left{float: left;width: 150px;padding: 2px;}
.b_right{padding-top: 2px;padding-right: 2px;padding-left: 15px;margin-left: 15px;}
.b_answer{padding: 10px;border-top-width: 1px;border-top-style: solid;border-top-color: #999;}
/*下载内容页样式开始*/
.d_title{text-align: center;float: right;margin-right: 10px;width: 100%;height: 26px;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #CCC;padding-top: 5px;}
.d_left{text-align: left;float: left;margin-left: 25px;width: 200px;}
.d_url{margin-left: 25px;float: right;margin-right: 10px;width: 100%;height: 26px;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #CCC;padding-top: 5px;}
.d_content{text-align: left;margin-top: 20px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px; line-height:20px;}
/*友情连接*/
.link{height: auto;width: 958px;margin-right: auto;margin-left: auto;background-color: #ffffff;clear: both;margin-bottom: 1px;margin-top: 5px;border: 1px solid #E4D0B6;}
.link_c{overflow: hidden;padding: 5px;}
.link_c a{float: left;line-height: 20px;margin-right: 10px;}
.linkapp{border-top-width: 1px;border-left-width: 1px;border-top-style: solid;border-left-style: solid;border-top-color: #D9EFBC;border-left-color: #D9EFBC;margin-top: 10px;background-color: #FFF;}
.linkapp th{background-image: url(../images/tr_bg.gif);border-right-width: 1px;border-bottom-width: 1px;border-right-style: solid;border-bottom-style: solid;border-right-color: #D9EFBC;border-bottom-color: #D9EFBC;color: #000;background-repeat: repeat;background-position: left top;height: 26px;}
.linkapp td{border-right-width: 1px;border-bottom-width: 1px;border-right-style: solid;border-bottom-style: solid;border-right-color: #D9EFBC;border-bottom-color: #D9EFBC;background-color: #FFF;height: 26px;padding-top: 3px;padding-right: 5px;padding-bottom: 3px;padding-left: 5px;}
/*页面底部*/
.footer{height: auto;width: 960px;margin-top: 5px;margin-right: auto;margin-left: auto;background-color: #ffffff;clear: both;padding-top: 10px;border-top-width: 1px;border-top-style: solid;border-top-color: #E4D0B6;}
.footer_meun{text-align: center;}
.footer_c{overflow: hidden;padding: 5px;text-align: center;}
.fangfa{border: 1px solid #CCC;background-color: #FFF;margin-top: 5px;}
.fangfa th{font-size: 13px;font-weight: normal;height: 17px;padding-top: 7px;padding-right: 5px;padding-left: 15px;background-color: #EEE;color: #930;text-align: left;}
.content{padding: 10px;}
.help{padding: 10px;border: 1px solid #CCC;line-height: 23px;}
/*分页*/
.page_h{width: 100%;margin-top: 10px;margin-right: auto;margin-bottom: auto;margin-left: auto;height: 30px;border-top-width: 1px;border-top-style: solid;border-top-color: #CCC;}
.page_h dd{float: left;width: auto;text-align: center;font-size: 13px;height: 26px;padding-top: 2px;padding-right: 5px;padding-bottom: 2px;padding-left: 5px;}
.page_h dd a{margin-left: 5px;}
.product{margin: auto;height: auto;padding: 10px;}
.product_img{height: auto;float: left;text-align: center;margin-right: 10px;}
.product_img img{height: 120px;width: 160px;}
.product_sx{float: left;text-align: left;line-height: 25px;margin-left: 10px;}
.product_con{height: auto;padding: 10px;clear: both;margin-top: 10px;}
.product_pre{height: auto;clear: both;margin-top: 10px;}