body{
	margin: 0px;
	margin-top: 8px;
	color: black;
	font-size: 12px;
	font-family: Arial, "Courier New", Tahoma, "ו";
	SCROLLBAR-FACE-COLOR: #eaeaf2;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #9395c0;
	SCROLLBAR-3DLIGHT-COLOR: #f3f3f8;
	SCROLLBAR-ARROW-COLOR: #9395c0;
	SCROLLBAR-TRACK-COLOR: #f3f3f8;
	SCROLLBAR-DARKSHADOW-COLOR: #f3f3f8;
}
html, body{height: 100%;overflow: auto;margin: 0px;}
a{color: black;}
img{border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;}
form{margin: 0px;font-size: 12px;}

table{
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #D9EFBC;
	border-left-color: #D9EFBC;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
table A{text-decoration: none;}
table th{
	background-image: url(../images/tr_bg.gif);
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #D9EFBC;
	border-bottom-color: #D9EFBC;
	color: #000;
	background-repeat: repeat;
	background-position: left top;
	height: 26px;
}
table td{border-right-width: 1px;border-bottom-width: 1px;border-right-style: solid;border-bottom-style: solid;border-right-color: #D9EFBC;border-bottom-color: #D9EFBC;background-color: #FFF;height: 26px;padding-top: 3px;padding-right: 5px;padding-bottom: 3px;padding-left: 5px;}
#InputTable input{width: 150px;}
textarea{height: 70px;padding: 2px;font-size: 12px;background-color: white;border: 1px solid #b1b4d1;}
input{height: 20px;padding: 2px;font-size: 12px;border: 1px solid #b1b4d1;}
.button{height: 20px;font-size: 12px;padding-top: 2px;border: #666666 1px solid;background-image: url(AdminButton.gif);}

